/* Ensure the table header stays fixed */
table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  position: sticky;
  top: -1px;
  background: white;
  z-index: 1;
  border-bottom: 2px solid #ddd;
}

.table-container {
  max-height: 70vh;
  overflow-y: auto;
  border: 1px solid var(--light-grey-2);
  border-radius: 5px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px;
  text-align: left;
}

.table-row:nth-child(even) {
  background-color: var(--light-grey);
}
.table-row:hover {
  background-color: var(--light-grey-hover);
}

.detail-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: var(--dark-grey);
  cursor: pointer;
  transition: background-color 0.4s ease, border-color 0.4s ease,
    color 0.4s ease;
  border: 1px solid var(--light-grey-2);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
.detail-btn:hover {
  background-color: var(--light-green);
  border-color: var(--dark-green);
  color: #fff;
}

.detail-btn span {
  margin-bottom: 4px;
}
