.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  height: 50vh;
}

.card {
  border: 1px solid var(--light-grey-2);
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  transition: background-color 0.3s ease;
}
.card:hover {
  background-color: var(--light-grey);
}
.username {
  text-align: center;
}

@media screen and (max-width: 1440px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
}
@media screen and (max-width: 640px) {
  .post-title {
    font-size: 24px;
  }
}
