.container-1 {
  display: flex;
  position: relative;
}

.inner-container {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100vw;
  position: absolute;
  align-items: center;
}

app-navigation {
  z-index: 1;
}

.router {
  width: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 90vh;
}

@media screen and (max-width: 1024px) {
  .router {
    width: 80%;
  }
}
