table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  overflow-x: auto;
}

thead th {
  position: sticky;
  top: -1px;
  background: white;
  border-bottom: 2px solid #ddd;
}

.table-container {
  max-height: 70vh;
  width: 50vw;
  overflow-y: auto;
  border: 1px solid var(--light-grey-2);
  border-radius: 5px;
  margin-top: 8%;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 4px;
  text-align: left;
  height: 60px;
}

.table-row:nth-child(even) {
  background-color: var(--light-grey);
}
.table-row:hover {
  background-color: var(--light-grey-hover);
}
.posts-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.posts-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: transparent;
  border-radius: 5px;
  padding: 3px 6px;
  border: 2px solid #d5cfcf;
  color: var(--dark-grey);
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.4s ease, border-color 0.4s ease,
    color 0.4s ease;
}

.posts-btn:hover {
  background-color: var(--light-green);
  border-color: var(--dark-green);
  color: #fff;
}
.posts-btn {
  word-break: normal;
}

.search-input {
  width: 100%;
  border: 1px solid #ccc;
  height: 40px;
  padding-left: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
}
.btn-inner-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

@media screen and (max-width: 1024px) {
  .table-container {
    width: 80vw;
  }
}
@media screen and (max-width: 540px) {
  .table-container {
    margin-left: 0.8rem;
  }
}
