<div class="table-container">
  <table>
    <thead>
      <tr class="table-row">
        <th>სახელი</th>
        <th>გვარი</th>
        <th>ტელეფონის ნომერი</th>
        <th>მეილი</th>
        <th>კომპანიის დასახელება</th>
      </tr>
    </thead>

    @for (user of userTableService.userData; track user) {
    <tr class="table-row">
      <td>{{ (user.name | splitName).firstName }}</td>
      <td>{{ (user.name | splitName).lastName }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.email }}</td>
      <td class="posts-btn-container">
        <span>
          {{ user.company.name }}
        </span>
        <button (click)="onUserClick(user.id, user.username)" class="posts-btn">
          პოსტები <i class="bi bi-chevron-compact-right"></i>
        </button>
      </td>
    </tr>

    }
  </table>
</div>
