table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

thead th {
  position: sticky;
  top: -1px;
  background: white;
  z-index: 1;
  border-bottom: 2px solid #ddd;
}

.table-container {
  max-height: 70vh;
  overflow-y: auto;
  border: 1px solid var(--light-grey-2);
  border-radius: 5px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 4px;
  text-align: left;
}

.table-row:nth-child(even) {
  background-color: var(--light-grey);
}
.table-row:hover {
  background-color: var(--light-grey-hover);
}
.posts-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.posts-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: transparent;
  border-radius: 5px;
  padding: 3px 6px;
  border: 2px solid #d5cfcf;
  color: var(--dark-grey);
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.4s ease, border-color 0.4s ease,
    color 0.4s ease;
}

.posts-btn:hover {
  background-color: var(--light-green);
  border-color: var(--dark-green);
  color: #fff;
}
