<div class="table-container">
  <table>
    <thead>
      <tr>
        <th colspan="5">
          <input
            type="text"
            class="search-input"
            placeholder="ძებნა"
            [(ngModel)]="searchValue"
            (ngModelChange)="onSearchTable()"
          />
        </th>
      </tr>
      <tr class="table-row">
        <th>სახელი</th>
        <th>გვარი</th>
        <th>ტელეფონის ნომერი</th>
        <th>მეილი</th>
        <th>კომპანიის დასახელება</th>
      </tr>
    </thead>

    @for (user of userTableService.filteredData.length > 0 ?
    userTableService.filteredData : userTableService.userData; track user.id) {
    <tr class="table-row">
      <td>{{ (user.name | splitName).firstName }}</td>
      <td>{{ (user.name | splitName).lastName }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.email }}</td>
      <td class="posts-btn-container">
        <span>
          {{ user.company.name }}
        </span>
        <span class="btn-inner-container">
          <button (click)="onPostClick(user.id, user.name)" class="posts-btn">
            პოსტები <i class="bi bi-chevron-compact-right"></i>
          </button>
          <button (click)="onTodoClick(user.id, user.name)" class="posts-btn">
            TodoList <i class="bi bi-chevron-compact-right"></i>
          </button>
        </span>
      </td>
    </tr>

    }
  </table>
</div>
