table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  position: sticky;
  top: -1px;
  background: white;
  z-index: 1;
  border-bottom: 2px solid #ddd;
}

.table-container {
  max-height: 70vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px;
  text-align: left;
}

.table-row:nth-child(even) {
  background-color: #f9f9f9;
}
.table-row:hover {
  background-color: #fffbfb;
}
.posts-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.posts-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: transparent;
  border-radius: 12px;
  padding: 5px 10px;
  border: 2px solid #d5cfcf;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.4s ease, border-color 0.4s ease,
    color 0.4s ease;
}

.posts-btn:hover {
  background-color: #9ae17b;
  border-color: #6bba62;
  color: #fff;
}
